<style>
  .stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
  }

  .stepper-item::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  .stepper-item::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item .step-icon {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 6px;
    cursor: pointer;
  }

  .stepper-item .step-title {
    color: white;
  }

  .stepper-item.active .step-icon {
    background-color: #ff5c01;
    color: white;
  }

  .stepper-item.completed .step-icon {
    background-color: #6c88ff;
    color: white;
  }

  .stepper-item.completed::after,
  .stepper-item.completed::before {
    border-color: #6c88ff;
  }

  .stepper-item:first-child::before,
  .stepper-item:last-child::after {
    content: none;
  }
</style>

<div class="card min-vh-100 d-flex py-5 px-2">
  <div
    class="card-header d-flex flex-row align-items-center justify-content-end gap-4"
  >
    <p class="fw-bold mb-0 uppercase text-capitalize">
      Welcome, {{profile.username}}
    </p>
    <buton class="btn btn-outline-danger" ng-click="logout()">Logout</buton>
  </div>
  <!--Stepper header-->
  <div
    class="d-flex justify-content-between position-relative p-4 rounded-3"
    style="background-color: #03045e"
  >
    <div
      class="stepper-item"
      ng-repeat="step in steps"
      ng-class="{'active': currentStep === $index, 'completed': currentStep > $index}"
    >
      <div
        class="step-icon"
        ng-click="goToStep($index)"
        ng-class="step.icon"
      ></div>
      <div class="step-title">{{step.title}}</div>
    </div>
  </div>
  <!-- card-body-->
  <div class="card-body shadow pb-0">
    <!--Steps start here-->
    <div ng-switch="currentStep" class="py-4">
      <!-- First step modal-->
      <div ng-switch-when="0">
        <p class="text-primary h5 fw-bold">Employment Information</p>
        <p class="text-secondary pb-2">
          Fill in your employment preferences and location to improve job
          matches
        </p>
        <div class="row">
          <!-- 1st column-->
          <div class="col">
            <label
              for="desired_position"
              class="fw-semibold text-dark opacity-75 py-2"
              >Desired Position</label
            >
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="employment_type" class="fw-semibold text-secondary py-2"
              >Employment Type</label
            >
            <select
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="permanent">Permanent</option>
              <option value="contratual">Contractual</option>
              <option value="on-the-job-training">On-the-Job Training</option>
              <option value="internship">Internship</option>
            </select>

            <label for="engagement_term" class="fw-semibold text-secondary py-2"
              >Engagement Term (months)</label
            >
            <input
              type="number"
              class="form-control form-control-sm rounded-3"
            />
            <label for="employer_status" class="fw-semibold text-secondary py-2"
              >Employment Status</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="part_time">Part-time</option>
              <option value="full_time">Full-time</option>
            </select>
            <label for="work_schedule" class="fw-semibold text-secondary py-2"
              >Work Schedule</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="day_shift">Day Shift</option>
              <option value="night_shift">Nigth Shift</option>
              <option value="hybrid">Hybrid</option>
            </select>

            <label for="employer_type" class="fw-semibold text-secondary py-2"
              >Employer Type</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="private">Private</option>
              <option value="corporate">Corporate</option>
              <option value="organizational">Organizational</option>
            </select>

            <label for="expected_salary" class="fw-semibold text-secondary py-2"
              >Expected Salary</label
            >
            <input
              type="number"
              class="form-control form-control-sm rounded-3"
              placeholder="e.g 30000"
            />
          </div>
          <!-- 1st step 2nd column-->
          <div class="col">
            <p class="text-secondary pb-2 fw-bold">Preferred Location</p>
            <label for="country" class="fw-semibold text-secondary py-2"
              >Country</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="ph">Philippines</option>
            </select>
            <label for="province" class="fw-semibold text-secondary py-2"
              >Province</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="cavite">Cavite</option>
            </select>
            <label for="municipality" class="fw-semibold text-secondary py-2"
              >Municipality</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="tanza">Tanza</option>
            </select>
          </div>
        </div>
      </div>
      <!-- 2nd step modal-->
      <div ng-switch-when="1">
        <p class="text-primary h5 fw-bold my-4">Personal Information</p>
        <div class="row gap-2">
          <!-- 2nd step fist column-->
          <div class="col">
            <label for="firstname" class="fw-semibold text-secondary py-2"
              >Firstname</label
            >
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="lastname" class="fw-semibold text-secondary py-2"
              >Lastname</label
            >
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="age" class="fw-semibold text-secondary py-2">Age</label>
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="gender" class="fw-semibold text-secondary py-2"
              >Gender</label
            >
            <select name="" id="" class="form-control form-control-sm">
              <option value="" disabled>--SELECT GENDER--</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

            <label for="phone_numbers" class="fw-semibold text-secondary py-2">
              Mobile Phone Number</label
            >
            <input type="number" class="form-control form-control-sm" />
          </div>
          <!-- 2nd step 2nd column-->
          <div class="col">
            <p class="fw-bold h6">Address Information</p>
            <label for="address1" class="fw-semibold text-secondary py-2"
              >Address 1</label
            >
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="address2" class="fw-semibold text-secondary py-2"
              >Address 2 (optional)</label
            >
            <input type="text" class="form-control form-control-sm rounded-3" />
            <label for="country" class="fw-semibold text-secondary py-2"
              >Country</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="ph">Philippines</option>
            </select>
            <label for="province" class="fw-semibold text-secondary py-2"
              >Province</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="cavite">Cavite</option>
            </select>
            <label for="municipality" class="fw-semibold text-secondary py-2"
              >Municipality</label
            >
            <select
              name=""
              id=""
              class="form-control form-control-sm"
              style="cursor: pointer"
            >
              <option value="tanza">Tanza</option>
            </select>

            <label for="zip_code" class="fw-semibold text-secondary py-2"
              >ZIP Code</label
            >
            <input
              type="number"
              class="form-control form-control-sm rounded-3"
            />
          </div>
          <!-- 2nd step 3rd column-->
          <div class="col">
            <p class="fw-bold">Other relevant Info</p>
            <div class="d-flex flex-column justify-content-center gap-2">
              <label for=""
                ><input type="checkbox" /> Available Immediately</label
              >
              <label for=""><input type="checkbox" /> Are you an OFW?</label>
              <label for=""
                ><input type="checkbox" /> Do you have a driver's
                licence?</label
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Step 3 modal-->
      <div ng-switch-when="2">
        <div class="row">
          <!-- 3rd step first columm-->
          <div class="col">
            <p class="text-primary h5 fw-bold my-4">Educational Background</p>
            <p class="text-secondary pb-2">
              Provide your most recent or highest level of education.
            </p>
            <label for="" class="fw-bold"
              ><input type="checkbox" class="me-3" />I have an educational
              background</label
            >
          </div>
          <!-- 3rd step 2nd col-->
          <div class="col">
            <p class="text-primary h5 fw-bold my-4">Work Experience</p>
            <p class="text-secondary pb-2">
              Tell us about your previous job experience (if any).
            </p>
            <label for="" class="fw-bold"
              ><input type="checkbox" class="me-3" />I have past work
              experience</label
            >
          </div>
        </div>
      </div>
      <!-- Step 4-->
      <div ng-switch-when="3">
        <div class="row">
          <!-- 4th step first columm-->
          <div class="col">
            <p class="text-primary h5 fw-bold my-4">
              Show Off Your Competencies
            </p>
            <p class="text-primary fw-bold fs-6 pb-2">Other Skills</p>
            <label for="" class="fw-bold"
              ><input type="checkbox" class="me-3" />Do you have other
              skills?</label
            >
          </div>
          <!--4th step 2nd column-->
          <div class="col">
            <p class="text-primary h4 fw-bold my-4 opacity-0">
              Show Off Your Competencies
            </p>
            <p class="text-primary fw-bold fs-6 pb-2">Language Proficiency</p>
            <p class="text-primary fw-bold fs-6 pb-2">Primary Language</p>
            <select
              name=""
              id=""
              class="form-control form-control-sm my-2"
              style="cursor: pointer"
            >
              <option value="english">English</option>
            </select>
            <p class="text-secondary fw-bold py-2 m-0">Verbal Proficiency</p>
            <div class="gap-2 d-flex">
              <div ng-repeat="star in [].constructor(10) track by $index">
                <div
                  class="fa fa-star fs-5"
                  style="cursor: pointer"
                  ng-click="handleRate('verbalRate', $index)"
                  ng-class="{'text-warning': $index < ratings.verbalRate, 'text-secondary': $index >= ratings.verbalRate}"
                ></div>
              </div>
              <p class="ms-3 fw-bold">{{ratings.verbalPercentage || '0%'}}</p>
            </div>
            <p class="text-secondary fw-bold py-2 m-0">Written Proficieny</p>
            <div class="gap-2 d-flex">
              <div ng-repeat="star in [].constructor(10) track by $index">
                <div
                  class="fa fa-star fs-5"
                  style="cursor: pointer"
                  ng-class="{'text-warning' : $index < ratings.writtenRate, 'text-secondary' : $index >= ratings.writtenRate}"
                  ng-click="handleRate('writtenRate', $index)"
                ></div>
              </div>
              <p class="ms-3 fw-bold">{{ratings.writtenPercentage || '0%'}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Step 5-->
      <div ng-switch-when="4">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <p class="text-center text-success fw-bold fs-4">You're Ready</p>
              <p class="d-flex flex-column align-items-center justify-content-center gap-2 fs-6">
                <span class="text-center">
                  Now that everything is setup, you should be ready to explore a massive
                  range of opportunities awaiting at your fingertips!
                </span>
                <span class="text-center">
                  You can still
                    change your information on your <b>Profile</b> after registration.
                </span>
                <strong  class="text-center">Click
                  "Finish Registration" to begin your journey!</strong>
                  <strong class="text-secondary p-2">
                    How would you like to be on the Map?
                  </strong>
              </p>
              <label for="" class="pb-4">
                <input type="checkbox" ng-model="isVisible">
                {{isVisible ? "Visible" : "Hidden"}}
              </label>

              <div class="d-flex flex-row gap-2">
                <button class="btn btn-primary text-white fw-bold opacity-75">Finish and Proceed to Payment</button>
                <button class="btn btn-primary text-white fw-bold opacity-75"
                ng-click="prevStep()"
                >Take me back</button>
              </div>
          </div>
      </div>
    </div>

    <!-- Next/Prev Buttons-->
    <div
      class="d-flex align-items-center justify-content-between border-top py-3"
      ng-show="currentStep !== steps.length -1"
    >
      <button
        ng-click="prevStep()"
        ng-show="currentStep > 0"
        class="btn btn-primary"
      >
        ← Prev</button
      ><button
        ng-click="nextStep()"
        ng-disable="currentStep === steps.length - 1"
        class="btn btn-primary text ms-auto mt-4"
      >
        Next →
      </button>
    </div>
  </div>
</div>
